.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .active {
       color: blue; 
}

.dialogsItems a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 14px;
}

.messages {
    font-family: 'Poppins', sans-serif;
    color: #004156;
    font-size: 14px;
    background-color: #AEE8E4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}